<div class="wagon-cards-with-map" data-controller="mapbox" data-mapbox-markers-value="<%= @markers.to_json %>" data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" data-filter-path="<%= root_path %>">


  <div class="wagon-card-container" data-mapbox-target="cardsContainer">
    <%= render 'cities', cities: @cities, filter: @activated_filter %>
  </div>


  <div id="city-mapbox" data-mapbox-target="map">
    <%= form_tag root_path, method: :get, class: "filters", data: {controller: "filter"} do %>
      <% @filters.each do |filter| %>
        <%= radio_button_tag "filter", filter[0], @activated_filter == filter[0], id: filter[1], class: "tag-selector", data: { mapbox_target: 'radio', action: 'click->mapbox#filterMarker'}  %>
        <%= label_tag filter[1], filter[0] %>
      <% end %>
    <% end %>
  </div>
</div>
